@{
    ViewData["Title"] = "CreatePassword";
}
<div class="text-center">
    <img src="~/logo/LogoAomtung.svg" alt="Logo" width="290">
</div>
<div class="container-sm">
    <form>
        <div class="row justify-content-center">
            <fieldset class="col-md-6">
                <div class="form-group mb-3">
                    <label for="phoneLogin" class="form-label">ตั้งรหัสผ่าน</label>
                    <div class="input-group">
                        <input type="text" id="firstpassword" class="form-control" name="firstpassword" pattern="[0-9]{10}" inputmode="numeric" maxlength="6" required>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="passInput" class="form-label">ยืนยันรหัสผ่าน</label>
                    <div class="input-group">
                        <input type="text" id="confirmpassword" class="form-control" name="confirmpassword" pattern="[0-9]{10}" inputmode="numeric" maxlength="6" required oninput="checkPasswords()">
                    </div>
                    <div class="d-flex justify-content-center">
                        <span id="PassConErrorMessage" class="text-danger text-center mt-2"></span>
                    </div>
                </div>
                <div class="form-group mb-3 mt-4">
                    <button id="btn-summit-pass" class="btn btn-pink summit-login w-100" type="submit" disabled>ยืนยัน</button>
                </div>
            </fieldset>
        </div>
    </form>
</div>

