@{
    ViewData["Title"] = "Verify Phone";
}

<div class="text-center container">
    <div class="logo-img-index">
        <img src="logo/LogoAomtung.svg" alt="Logo" />
    </div>
    <form method="post">
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label p-3 h3">ระบุหมายเลขโทรศัพท์</label>
            <div class="input-group flex-nowrap mb-2">
                <span class="input-group-text mx-1" id="addon-wrapping">+66</span>
                <input type="tel" id="phoneInput" class="form-control" inputmode="numeric" pattern="[0-9]*" maxlength="10" placeholder="063xxxxxxx" aria-label="Phone" style="width: 220px; border: 1px solid #FF8686; border-radius: 5px;" required>
            </div>
            <span id="ErrorMessage" class="p-2" style="color: red;"></span>
        </div>
        <div class="p-1">
            <button class="btn btn-pink" type="submit" style="width:230px;">ยืนยัน</button>
        </div>
    </form>
</div>

