@{
    ViewData["Title"] = "บันทึกรายรับ-รายจ่าย";
    Layout = "_LayoutHomepage";
}
<div class="container-md">
    <div class="row justify-content-center align-content-center">
        <div class="calculator">
            <input type="text" id="display" maxlength="15" max="15" class="form-control" readonly>
            <div class="col-6" tabindex="0">
                <div class="card-body">
                    <div class="buttons">
                        <button class="operator" onclick="clearDisplay()">C</button>
                        <button onclick="appendToDisplay('1')">1</button>
                        <button onclick="appendToDisplay('2')">2</button>
                        <button onclick="appendToDisplay('3')">3</button>
                        <button onclick="appendToDisplay('4')">4</button>
                        <button onclick="appendToDisplay('5')">5</button>
                        <button onclick="appendToDisplay('6')">6</button>
                        <button onclick="appendToDisplay('7')">7</button>
                        <button onclick="appendToDisplay('8')">8</button>
                        <button onclick="appendToDisplay('9')">9</button>
                        <button class="operator" onclick="appendToDisplay('-')">-</button>
                        <button class="operator" onclick="appendToDisplay('+')">+</button>
                        <button class="operator" onclick="appendToDisplay('/')">/</button>
                        <button class="operator" onclick="appendToDisplay('*')">x</button>
                        <button onclick="appendToDisplay('0')">0</button>
                        <button onclick="appendToDisplay('00')">00</button>
                        <button class="equal" onclick="calculate()">=</button>
                        <button onclick="appendToDisplay('.')">.</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card-body">
            </div>
        </div>
    </div>
</div>