@{
    ViewData["Title"] = "บันทึกรายรับ-รายจ่าย";
    Layout = "_LayoutHomepage";
}
<div class="container-md">
    <div class="row justify-content-center align-content-center">
        <div class="calculator">
            <input type="text" id="display" maxlength="15" max="15" class="form-control" readonly>
            <div class="row">
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="date">วันที่ เวลา</label>
                                <input type="datetime-local" id="date" name="date" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="category">ประเภท*</label>
                                <select id="category" class="form-control">
                                    <option selected disabled>เลือก</option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="subcategory">หมวดหมู่*</label>
                                <select id="subcategory" class="form-control">
                                    <option selected disabled>เลือก</option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="note">โน้ต</label>
                                <textarea class="form-control" id="note" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="autoSave">บันทึกอัตโนมัติ</label>
                                <select id="autoSave" class="form-control" disabled>
                                    <option selected>ไม่มี</option>
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Detail -->
                <!--Start Calcurater-->
                <div class="col-6">
                    <div class="card-body">
                        <div class="buttons">
                            <button class="operator" onclick="clearDisplay()">C</button>
                            <button onclick="appendToDisplay('1')">1</button>
                            <button onclick="appendToDisplay('2')">2</button>
                            <button onclick="appendToDisplay('3')">3</button>
                            <button onclick="appendToDisplay('4')">4</button>
                            <button onclick="appendToDisplay('5')">5</button>
                            <button onclick="appendToDisplay('6')">6</button>
                            <button onclick="appendToDisplay('7')">7</button>
                            <button onclick="appendToDisplay('8')">8</button>
                            <button onclick="appendToDisplay('9')">9</button>
                            <button class="operator" onclick="appendToDisplay('-')">-</button>
                            <button class="operator" onclick="appendToDisplay('+')">+</button>
                            <button class="operator" onclick="appendToDisplay('/')">/</button>
                            <button class="operator" onclick="appendToDisplay('*')">x</button>
                            <button onclick="appendToDisplay('0')">0</button>
                            <button onclick="appendToDisplay('00')">00</button>
                            <button class="equal" onclick="calculate()">=</button>
                            <button onclick="appendToDisplay('.')">.</button>
                        </div>
                    </div>
                </div>
                <!--End Calcurater-->

            </div>
        </div>
    </div>
</div>
