/* _content/Aomtung.Web/Views/Shared/_Layout.cshtml.rz.scp.css */

/* _content/Aomtung.Web/Views/Shared/_LayoutHomepage.cshtml.rz.scp.css */

.footer[b-g41nulii2k] {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
